vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Mar 2018 22:15:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|EVANTAGE\\Administrator
vti_modifiedby:SR|EVANTAGE\\Administrator
vti_timecreated:TR|15 Mar 2018 22:15:02 -0000
vti_cacheddtm:TX|15 Mar 2018 22:15:02 -0000
vti_filesize:IR|2445
vti_cachedlinkinfo:VX|S|anonymousPro-Regular.ttf S|anonymousPro-Bold.ttf S|../images/plans-background.jpg
vti_cachedsvcrellinks:VX|FSUS|MyFormR/packages/anonymousPro-Regular.ttf FSUS|MyFormR/packages/anonymousPro-Bold.ttf FSUS|MyFormR/images/plans-background.jpg
vti_backlinkinfo:VX|MyFormR/packages/index.html
