
body {
 /* border: yellow solid 10px;*/
  height: 100px;
  margin: 0;
  padding: 0;
}


#image-section {
  margin                : 0px;
  /*border                : 0px solid transparent;*/
  /*border                : red solid 5px;*/
  background            : url("images/monaco-blue-soft.jpg");
  background-size       : cover;
  position              : relative;
  background-repeat     : no-repeat;
  background-clip       : border-box;
  background-color      : blue;
  background-position   : center;
  top                   : 98px;
  left                  : 0px;
  right                 : 0px;
  width                 : 100%;                 
  height                : 500px;                   
}


#image-section h1 {
  height: 250px;
  color: white;
  font-family: Bookman Old Style;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 2rem;
}


.body-section h1 {
  /*border: blue solid 5px;*/
  top: 500px; 
  color: black;
  background: #ccc;
  height: 400px;
 /* margin-top: 5%;*/
  position: relative;
  padding-top: 100px;
  text-align: center;
  vertical-align: middle;
  /*line-height: 300px;*/

}

@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    height: 35vh;
    background-position: 50% 25%;
  }